<div id="modal_warning" class="modal fade in" style="display: none;">
    <div class="sweet-alert showSweetAlert" style="display:block">
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        <h2>Bạn có thực sự muốn xóa?</h2>
        <p style="display: block;">Bạn sẽ không thể khôi phục lại dữ liệu đã xóa!</p>
        <div class="sa-button-container">
            <button type="button" class="cancel" tabindex="2" style="display: inline-block; box-shadow: none;" data-dismiss="modal">HỦY</button>
            <button type="button" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(255, 112, 67);">ĐỒNG Ý</button>
        </div>
    </div>
</div>
