<div class="header-top bg-theme-colored sm-text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget no-border m-5 text-white">
                    <i class="fa fa-clock-o text-white"></i> Opening Hours:  Mon - Tues : 6.00 am - 10.00 pm, Sunday Closed
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget no-border m-0">
                    <ul class="list-inline text-right flip sm-text-center mt-5">
                        <li>
                            <a class="text-white" href="#">FAQ</a>
                        </li>
                        <li class="text-white">|</li>
                        <li>
                            <a class="text-white" href="#">Help Desk</a>
                        </li>
                        <li class="text-white">|</li>
                        <li>
                            <a class="text-white" href="#">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>