<div class="page-header">
    <div class="page-header-content">
        <div class="page-title" style="padding: 10px;">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span>Hệ thống - Trang chủ</span>
                <small class="display-block" style="font-size:12px">Trang chủ</small>
            </h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text" style="font-size:10px"><i class="icon-bars-alt text-primary"></i><span>Thông báo</span></a>
                <a href="#" class="btn btn-link btn-float has-text" style="font-size:10px"><i class="icon-calendar5 text-primary"></i> <span>Lịch hoạt động</span></a>
            </div>
        </div>
    </div>
</div>