<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Khoa Công Nghệ Thông Tin</title>
    <link rel="shortcut icon" href="~/Assets/template-admin/images/logo-web.ico" type="image/png">
</head>
<body>
    <div> 
        Đây là trang chủ
    </div>
</body>
</html>
