<div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home" style="display:flex;justify-content:center;align-items:center;padding:0px;padding-left:24px;">
            <img src="/Assets/template-admin/images/download.png" style="width:38px;height:38px;" />
            <span style="padding-left:6px;color:white">ĐẠI HỌC SƯ PHẠM KỸ THUẬT HƯNG YÊN - KHOA CÔNG NGHỆ THÔNG TIN</span>
        </a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/Assets/template-admin/images/flags/vn.png" class="position-left" alt="">
                    Việt Nam
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="vietnam"><img src="/Assets/template-admin/images/flags/vn.png" alt=""> Việt Nam</a></li>
                    <li><a class="english"><img src="/Assets/template-admin/images/flags/gb.png" alt=""> English</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/Assets/template-admin/images/admin.png" alt="">
                    <span>{{authentication.userName}}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> Thông tin</a></li>
                    <li><a href="#"><i class="icon-cog5"></i> Đổi mật khẩu</a></li>
                    <li><a ng-click="logOut()"><i class="icon-switch2"></i> Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>