<div class="page-header">
    <div class="page-header-content">
        <div class="page-title" style="padding: 0px 36px 24px 0;">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span>Hệ thống - Giảng viên</span>
                <small class="display-block" style="font-size:12px">Chức năng khác <i class="icon-arrow-right22"></i> Giảng viên</small>
            </h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
            </div>
        </div>
    </div>
</div>