<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div ng-include="'/client/shared/views/preloaderview.html'"></div>

    <!-- Header -->
    <div ng-include="'/client/shared/views/headerview.html'"></div>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: home -->

        <!-- start Section: About -->
        <section>
            <div class="container">
                <div class="section-title mt-0 mb-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="mt-0 line-height-1" style="color: #5D9CEC;">TIN NỔI BẬT</h1>
                            <div class="double-line-bottom-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 mb-sm-30">
                            <div class="box-hover-effect play-button">
                                <div class="effect-wrapper">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/about/4.jpg" alt="project">
                                    </div>
                                    <div class="text-holder text-holder-middle">
                                        <a href="https://www.youtube.com/watch?v=F3QpgXBtDeo" data-lightbox-gallery="youtube-video" title="Youtube Video"><img alt="" src="~/Assets/template-client/images/play-button/s1.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-sm-30">
                            <div class="thumb-one">
                                <img src="~/Assets/template-client/images/about/2.jpg" alt="">
                                <h4>About Education</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                                <a class="btn hvr-bounce-to-bottom btn-theme-colored" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumb-tow">
                                <img src="~/Assets/template-client/images/about/3.jpg" alt="">
                                <h4>Student Life</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                                <a class="btn btn-dark btn-theme-colored" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Courses -->
        <section class="bg-lighter">
            <div class="container">
                <div class="section-title mt-0 mb-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="mt-0 line-height-1" style="color: #5D9CEC;">TIN NỔI BẬT</h1>
                            <div class="double-line-bottom-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row multi-row-clearfix">
                    <div class="col-md-12">
                        <div class="owl-carousel-3col" data-nav="true">
                            <div class="item">
                                <div class="campaign bg-white maxwidth500 mb-30">
                                    <div class="thumb">
                                        <img src="~/Assets/template-client/images/course/1.jpg" alt="" class="img-fullwidth">
                                        <div class="campaign-overlay"></div>
                                    </div>
                                    <div class="campaign-details clearfix p-30">
                                        <h3 class="mt-0 mb-0"><a href="#">Accounting Technologie</a></h3>
                                        <ul class="mb-10">
                                            <li class="text-theme-colored2 mr-5">Course Fee: <span class="text-theme-colored">$890</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor adipisicing elit. Praesent quossit sit amet consect adipisicing elit quossit Contrary to popular belief....</p>
                                        <a class="btn btn-theme-colored font-weight-600 font-11 mt-10" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="campaign bg-white maxwidth500 mb-30">
                                    <div class="thumb">
                                        <img src="~/Assets/template-client/images/course/2.jpg" alt="" class="img-fullwidth">
                                        <div class="campaign-overlay"></div>
                                    </div>
                                    <div class="campaign-details clearfix p-30">
                                        <h3 class="mt-0 mb-0"><a href="#">Modern Technologies</a></h3>
                                        <ul class="mb-10">
                                            <li class="text-theme-colored2 mr-5">Course Fee: <span class="text-theme-colored">$890</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor adipisicing elit. Praesent quossit sit amet consect adipisicing elit quossit Contrary to popular belief....</p>
                                        <a class="btn btn-theme-colored font-weight-600 font-11 mt-10" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="campaign bg-white maxwidth500 mb-30">
                                    <div class="thumb">
                                        <img src="~/Assets/template-client/images/course/3.jpg" alt="" class="img-fullwidth">
                                        <div class="campaign-overlay"></div>
                                    </div>
                                    <div class="campaign-details clearfix p-30">
                                        <h3 class="mt-0 mb-0"><a href="#">Chemical Engineering</a></h3>
                                        <ul class="mb-10">
                                            <li class="text-theme-colored2 mr-5">Course Fee: <span class="text-theme-colored">$890</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor adipisicing elit. Praesent quossit sit amet consect adipisicing elit quossit Contrary to popular belief....</p>
                                        <a class="btn btn-theme-colored font-weight-600 font-11 mt-10" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="campaign bg-white maxwidth500 mb-30">
                                    <div class="thumb">
                                        <img src="~/Assets/template-client/images/course/4.jpg" alt="" class="img-fullwidth">
                                        <div class="campaign-overlay"></div>
                                    </div>
                                    <div class="campaign-details clearfix p-30">
                                        <h3 class="mt-0 mb-0"><a href="#">Computer Technologies</a></h3>
                                        <ul class="mb-10">
                                            <li class="text-theme-colored2 mr-5">Course Fee: <span class="text-theme-colored">$890</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor adipisicing elit. Praesent quossit sit amet consect adipisicing elit quossit Contrary to popular belief....</p>
                                        <a class="btn btn-theme-colored font-weight-600 font-11 mt-10" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="campaign bg-white maxwidth500 mb-30">
                                    <div class="thumb">
                                        <img src="~/Assets/template-client/images/course/5.jpg" alt="" class="img-fullwidth">
                                        <div class="campaign-overlay"></div>
                                    </div>
                                    <div class="campaign-details clearfix p-30">
                                        <h3 class="mt-0 mb-0"><a href="#">Development Studies</a></h3>
                                        <ul class="mb-10">
                                            <li class="text-theme-colored2 mr-5">Course Fee: <span class="text-theme-colored">$890</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor adipisicing elit. Praesent quossit sit amet consect adipisicing elit quossit Contrary to popular belief....</p>
                                        <a class="btn btn-theme-colored font-weight-600 font-11 mt-10" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--start funfact Section-->
        <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="Assets/template-client/images/bg/bg2.jpg">
            <div class="container pt-90 pb-90">
                <div class="section-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                            <div class="funfact text-center">
                                <i class="pe-7s-smile text-theme-colored2"></i>
                                <h2 data-animation-duration="2000" data-value="5100" class="animate-number text-white font-38">0</h2>
                                <h5 class="text-white text-uppercase mb-0">Happy Students</h5>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                            <div class="funfact text-center">
                                <i class="pe-7s-users text-theme-colored2"></i>
                                <h2 data-animation-duration="2000" data-value="200" class="animate-number text-white font-38">0</h2>
                                <h5 class="text-white text-uppercase mb-0">Our Teachers</h5>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                            <div class="funfact text-center">
                                <i class="pe-7s-cup text-theme-colored2"></i>
                                <h2 data-animation-duration="2000" data-value="20" class="animate-number text-white font-38">0</h2>
                                <h5 class="text-white text-uppercase mb-0">Awards Won</h5>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
                            <div class="funfact text-center">
                                <i class="pe-7s-note2 text-theme-colored2"></i>
                                <h2 data-animation-duration="2000" data-value="600" class="animate-number text-white font-38">0</h2>
                                <h5 class="text-white text-uppercase mb-0">Our Courses</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--start teacher Section-->
        <section>
            <div class="container">
                <div class="section-title mt-0 mb-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="mt-0 line-height-1" style="color: #5D9CEC;">TIN NỔI BẬT</h1>
                            <div class="double-line-bottom-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel-4col">
                                <div class="item">
                                    <div class="team-member">
                                        <div class="thumb">
                                            <img src="~/Assets/template-client/images/team/1.jpg" alt="">
                                        </div>
                                        <div class="details">
                                            <h3 class="text-uppercase mb-0"><a href="#">Lucy Martin</a></h3>
                                            <h5 class="text-theme-colored2 mt-0">Vice Principle</h5>
                                            <p>Mauris vitae sollicitudin massa. Integer lacinia leo vel ullamcorper viverra.</p>
                                            <ul class="styled-icons icon-dark">
                                                <li><a href="#" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" data-bg-color="#4C75A3"><i class="fa fa-skype"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="team-member">
                                        <div class="thumb">
                                            <img src="~/Assets/template-client/images/team/2.jpg" alt="">
                                        </div>
                                        <div class="details">

                                            <h3 class="text-uppercase mb-0"><a href="#">John Vettori</a></h3>
                                            <h5 class="text-theme-colored2 mt-0">Biology Professor</h5>
                                            <p>Mauris vitae sollicitudin massa. Integer lacinia leo vel ullamcorper viverra.</p>
                                            <ul class="styled-icons icon-dark">
                                                <li><a href="#" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" data-bg-color="#4C75A3"><i class="fa fa-skype"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="team-member">
                                        <div class="thumb">
                                            <img src="~/Assets/template-client/images/team/3.jpg" alt="">
                                        </div>
                                        <div class="details">
                                            <h3 class="text-uppercase mb-0"><a href="#">Lucy Martin</a></h3>
                                            <h5 class="text-theme-colored2 mt-0">Mathmatics Professor</h5>
                                            <p>Mauris vitae sollicitudin massa. Integer lacinia leo vel ullamcorper viverra.</p>
                                            <ul class="styled-icons icon-dark">
                                                <li><a href="#" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" data-bg-color="#4C75A3"><i class="fa fa-skype"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="team-member">
                                        <div class="thumb">
                                            <img src="~/Assets/template-client/images/team/4.jpg" alt="">
                                        </div>
                                        <div class="details">
                                            <h3 class="text-uppercase mb-0"><a href="#">Chris Evans</a></h3>
                                            <h5 class="text-theme-colored2 mt-0">Physics Professor</h5>
                                            <p>Mauris vitae sollicitudin massa. Integer lacinia leo vel ullamcorper viverra.</p>
                                            <ul class="styled-icons icon-dark">
                                                <li><a href="#" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" data-bg-color="#4C75A3"><i class="fa fa-skype"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--start gallary Section-->
        <section class="bg-lighter">
            <div class="container">
                <div class="section-title mt-0 mb-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="mt-0 line-height-1" style="color: #5D9CEC;">TIN NỔI BẬT</h1>
                            <div class="double-line-bottom-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Portfolio Filter -->
                            <div class="portfolio-filter text-center">
                                <a href="#" class="active" data-filter="*">All</a>
                                <a href="#branding" class="" data-filter=".branding">Branding</a>
                                <a href="#design" class="" data-filter=".design">Design</a>
                                <a href="#photography" class="" data-filter=".photography">Photography</a>
                            </div>
                            <!-- End Portfolio Filter -->
                            <!-- Portfolio Gallery Grid -->
                            <div class="gallery-isotope default-animation-effect grid-3 gutter-small clearfix" data-lightbox="gallery">
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item design">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/1.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/1.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item branding photography">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/2.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/2.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item design">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/3.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/3.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item branding">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/4.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/4.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item design photography">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/5.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/5.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item photography">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/6.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/6.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item branding">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/7.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/7.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item photography">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/8.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/8.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item branding">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/Assets/template-client/images/gallery/9.jpg" alt="project">
                                        <div class="overlay-shade"></div>
                                        <div class="text-holder">
                                            <div class="title text-center">Sample Title</div>
                                        </div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/Assets/template-client/images/gallery/9.jpg" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                            </div>
                            <!-- End Portfolio Gallery Grid -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--start testimonial Section-->
        <section class="divider parallax layer-overlay overlay-dark-9" data-background-ratio="0.7" data-bg-img="Assets/template-client/images/bg/bg2.jpg">
            <div class="container">
                <div class="section-title mt-0 mb-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="mt-0 line-height-1" style="color: #5D9CEC;">TIN NỔI BẬT</h1>
                            <div class="double-line-bottom-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel-3col" data-dots="true">
                                <div class="item">
                                    <div class="testimonial-wrapper text-center bg-theme-colored p-30">
                                        <div class="thumb mb-30"><img class="img-circle img-thumbnail" alt="" src="~/Assets/template-client/images/testimonials/1.jpg"></div>
                                        <div class="content">
                                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                                            <h4 class="author text-white mb-0">Jacob Smith</h4>
                                            <h6 class="title text-white mt-0 mb-15">Student</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-wrapper text-center bg-theme-colored p-30">
                                        <div class="thumb mb-30"><img class="img-circle img-thumbnail" alt="" src="~/Assets/template-client/images/testimonials/2.jpg"></div>
                                        <div class="content">
                                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                                            <h4 class="author text-white mb-0">Jacob Smith</h4>
                                            <h6 class="title text-white mt-0 mb-15">Student</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-wrapper text-center bg-theme-colored p-30">
                                        <div class="thumb mb-30"><img class="img-circle img-thumbnail" alt="" src="~/Assets/template-client/images/testimonials/3.jpg"></div>
                                        <div class="content">
                                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                                            <h4 class="author text-white mb-0">Jacob Smith</h4>
                                            <h6 class="title text-white mt-0 mb-15">Student</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-wrapper text-center bg-theme-colored p-30">
                                        <div class="thumb mb-30"><img class="img-circle img-thumbnail" alt="" src="~/Assets/template-client/images/testimonials/2.jpg"></div>
                                        <div class="content">
                                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                                            <h4 class="author text-white mb-0">Jacob Smith</h4>
                                            <h6 class="title text-white mt-0 mb-15">Student</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--start blog Section-->
        <section class="bg-lighter">
            <div class="container">
                <div class="section-title mt-0 mb-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="mt-0 line-height-1" style="color: #5D9CEC;">TIN NỔI BẬT</h1>
                            <div class="double-line-bottom-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth500 mb-sm-30">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="~/Assets/template-client/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                                        <ul>
                                            <li class="font-16 text-white font-weight-600">28</li>
                                            <li class="font-12 text-white text-uppercase">Feb</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-content border-bottom-theme-color-2-1px bg-white p-30">
                                    <h3 class="entry-title text-uppercase mt-0"><a href="#">Post title here</a></h3>
                                    <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                    <div class="entry-meta pull-right flip mt-10">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-thumbs-o-up text-theme-colored2 mr-5"></i> 13</li>
                                            <li><i class="fa fa-comments-o text-theme-colored2 mr-5"></i> 43</li>
                                        </ul>
                                    </div>
                                    <a class="btn btn-theme-colored mt-10 mb-0 pull-left flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth500 mb-sm-30">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="~/Assets/template-client/images/blog/3.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                                        <ul>
                                            <li class="font-16 text-white font-weight-600">27</li>
                                            <li class="font-12 text-white text-uppercase">Feb</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-content border-bottom-theme-color-2-1px bg-white p-30">
                                    <h3 class="entry-title text-uppercase mt-0"><a href="#">Post title here</a></h3>
                                    <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                    <div class="entry-meta pull-right flip mt-10">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-thumbs-o-up text-theme-colored2 mr-5"></i> 13</li>
                                            <li><i class="fa fa-comments-o text-theme-colored2 mr-5"></i> 43</li>
                                        </ul>
                                    </div>
                                    <a class="btn btn-theme-colored mt-10 mb-0 pull-left flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth500">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="~/Assets/template-client/images/blog/2.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                                        <ul>
                                            <li class="font-16 text-white font-weight-600">26</li>
                                            <li class="font-12 text-white text-uppercase">Feb</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-content border-bottom-theme-color-2-1px bg-white p-30">
                                    <h3 class="entry-title text-uppercase mt-0"><a href="#">Post title here</a></h3>
                                    <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                    <div class="entry-meta pull-right flip mt-10">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-thumbs-o-up text-theme-colored2 mr-5"></i> 13</li>
                                            <li><i class="fa fa-comments-o text-theme-colored2 mr-5"></i> 43</li>
                                        </ul>
                                    </div>
                                    <a class="btn btn-theme-colored mt-10 mb-0 pull-left flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--start Clients Section-->
        <section class="clients bg-theme-colored2">
            <div class="container pt-10 pb-0">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Section: Clients -->
                        <div class="owl-carousel-6col text-center">
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w1.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w2.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w3.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w4.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w5.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w6.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w3.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w4.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w5.png" alt=""></a></div>
                            <div class="item"> <a href="#"><img src="~/Assets/template-client/images/clients/w6.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div ng-include="'/client/shared/views/footerview.html'"></div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>