
<div id="modal_Add" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form novalidate name="frmAddPostCategory" role="form" ng-submit="addTemplate()">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h5 class="modal-title">Thêm mới giao diện</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label><i class="icon-pencil4"></i> Đường dẫn:</label>
                        <input type="text" ng-maxlength="50" name="Path" class="form-control" ng-model="template.Path" ng-change="getSeoAlias()" placeholder="Tên danh mục" required>
                        <span ng-show="frmAddPostCategory.Path.$invalid" class="text-danger-400">Phải nhập đường dẫn</span>
                    </div>
                    <div class="form-group">
                        <label><i class="icon-file-picture"></i> Hình ảnh:</label>
                        <input type="text" name="img" ng-maxlength="256" id="input_img" ng-model="template.Image" class="form-control" placeholder="Chọn hình ảnh" required>
                        <button type="button" class="btn btn-xs btn-default position-right" style="margin-top:2px;margin-left:0px" ng-click="chooseImage()">Chọn ảnh</button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-sm btn-default legitRipple" data-dismiss="modal">Bỏ qua</button>
                    <button type="submit" ng-disabled="frmAddPostCategory.$invalid" class="btn btn-sm btn-primary legitRipple">Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>